/*  your css code here. If applicable */
#f1{
	content:"Flowers photos";
	text-align:center;
	background-color:rgb(255, 255, 0)
}
#f2{
	content:"Roses picture";
	text-align:center;
	background-color:rgb(255, 255, 0)
}